@charset "UTF-8";

/*
    em HTML é id    =   em CSS é # (só pode um elemento)
    em HTML é class =   em CSS é . (pode vários elementos)
    em HTML é id    =   em CSS é : [pseudo-classe]
*/

div{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px; /* ALTURA */
    width: 200px;  /* LARGURA */
}

div:hover/* SÓ FUNCIONA PASSANDO O MOUSE ENCIMA / UMA CONFIG DE ESTADO */{
    background-color: yellow;
}